.bottom-line {
  height: 2px;
  width: 10%;
  background: #daa520;
  margin: 0 auto; }

.section-space {
  margin-bottom: 20%; }

.navbar {
  height: 18vh;
  width: 88%;
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.navbar img {
  height: auto;
  width: 8vw; }

.left-nav {
  position: fixed;
  top: 10%;
  bottom: 10%;
  width: 5%;
  height: 78vh;
  z-index: 99; }

.left-nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.line {
  height: 7rem;
  width: 0.1rem;
  background: #333;
  border-radius: 1px;
  box-shadow: inset 4px 4px 8px #d9d9d9, inset -4px -4px 8px #ffffff; }

.icon {
  display: flex;
  color: #444;
  font-size: 1.4rem;
  justify-content: center;
  cursor: pointer; }
  .icon i {
    color: #333;
    padding: 0.75rem 0; }
  .icon i:hover {
    color: #daa520;
    transform: scale(1.1); }

.burger-nav-menu {
  height: 60vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 20;
  animation-name: fade-in;
  animation-duration: 4s;
  display: none; }
  .burger-nav-menu ul {
    font-size: 3rem;
    padding-top: 1.5rem; }
  .burger-nav-menu li a {
    padding-top: 1.5rem;
    transition: 0.2s ease-in; }
  .burger-nav-menu li a:hover {
    color: #daa520; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nav-tgl {
  cursor: pointer;
  position: fixed;
  z-index: 50;
  right: 6%;
  top: 5%;
  width: 80px;
  height: 80px;
  border: none;
  background: none; }
  .nav-tgl > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    background: #daa520; }
    .nav-tgl > span:before, .nav-tgl > span:after {
      display: inline-block;
      position: absolute;
      content: "";
      height: 2px;
      border-radius: 1px;
      background: #daa520;
      transition: all 200ms; }
    .nav-tgl > span:before {
      top: -11px;
      left: 3px;
      width: 28px; }
    .nav-tgl > span:after {
      top: 11px;
      left: 6px;
      width: 22px; }
  .nav-tgl:focus {
    outline: none; }
  .nav-tgl:hover > span:after,
  .nav-tgl:hover > span:before {
    width: 34px;
    left: 0; }

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: url("../dist/img/navbar-background.jpg") no-repeat center center/cover;
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden; }

.menu.active .nav:before {
  visibility: visible;
  clip-path: circle(100%); }

.menu.active .nav-tgl > span {
  height: 0; }
  .menu.active .nav-tgl > span:after, .menu.active .nav-tgl > span:before {
    top: 0px;
    left: 0;
    width: 34px; }
  .menu.active .nav-tgl > span:after {
    transform: rotate(-45deg); }
  .menu.active .nav-tgl > span:before {
    transform: rotate(45deg); }

@media only screen and (max-width: 800px) {
  .navbar img {
    width: 25vw; }
  .left-nav {
    display: none; }
  .burger-nav-menu ul {
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center; }
  .nav-tgl {
    top: 2%; } }

.about {
  min-height: 60vh;
  display: flex;
  align-items: center;
  margin-top: 4rem; }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-self: flex-start; }
    .about-content p {
      width: 80%;
      padding: 0.75rem 0; }

.about-image {
  width: 50%;
  height: auto;
  box-shadow: 5px 5px 15px 5px #0000003d; }

.about-btn {
  padding: 1rem;
  margin-top: 0.75rem;
  font-size: 1.5;
  font-weight: 400;
  border-radius: 5px;
  background: #daa520;
  color: #f4f4f4;
  border: none;
  width: 10rem;
  transition: 0.5s ease-in-out; }

.about-btn:hover {
  background: #333; }

@media only screen and (max-width: 800px) {
  .about {
    flex-direction: column; }
    .about-content {
      width: 100%; }
      .about-content p {
        width: 100%; }
  .about-image {
    margin-top: 2rem;
    width: 100%; } }

.location {
  min-height: 70vh;
  background: #333;
  box-shadow: 5px 5px 15px 5px #0000003d;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  color: #f4f4f4;
  padding: 1rem; }
  .location h2 {
    color: #f4f4f4; }
  .location p {
    width: 80%;
    margin: 2rem auto; }
  .location .location-logo {
    width: 20%;
    height: auto; }
  .location img {
    width: 50%;
    height: auto; }

@media only screen and (max-width: 800px) {
  .location {
    flex-direction: column;
    padding: 0.75rem;
    width: 100%; }
    .location h2 {
      color: #f4f4f4; }
    .location p {
      width: 100%;
      margin: 2rem auto; }
    .location .location-logo {
      display: none; }
    .location img {
      width: 100%;
      height: 100%; } }

.slideshow {
  z-index: 1;
  height: 60vh;
  overflow: hidden;
  box-shadow: 2px 2px 7px 2px #0000001f; }

.slideshow-container {
  display: flex;
  background: white url("../dist/img/Repeating-Chevrons.svg");
  height: 100%; }
  .slideshow-container .slideshow-image {
    width: 50%;
    height: 100%; }
    .slideshow-container .slideshow-image img {
      width: 100%;
      height: 100%; }
  .slideshow-container .slideshow-content {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .slideshow-container .slideshow-content p {
      width: 70%;
      margin: 0 auto; }

.slideshow-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  background: none;
  border: none;
  outline: none;
  color: #333;
  cursor: pointer;
  transition: 2s ease-in-out; }

.slideshow-button :hover {
  color: #daa520; }

@media only screen and (max-width: 800px) {
  .slideshow {
    height: 120vh;
    margin-bottom: 35%; }
  .slideshow-container {
    display: flex;
    flex-direction: column; }
    .slideshow-container .slideshow-image {
      width: 100%;
      height: 100%; }
    .slideshow-container .slideshow-content {
      width: 100%;
      padding: 3rem; }
      .slideshow-container .slideshow-content p {
        width: 100%;
        margin: 1rem auto; } }

@media only screen and (max-width: 800px) and (max-height: 400px) {
  .slideshow-image {
    display: none; } }

@media only screen and (max-width: 800px) {
  .slideshow-button {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    height: 3rem;
    width: 4rem; } }

.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10% 0;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5em; }
  .gallery-images img {
    box-shadow: 3px 3px 10px 3px #0000003d;
    border-radius: 5px; }
  .gallery-images img:hover {
    transform: scaleY(1.001); }

.gallery-title {
  text-align: center;
  margin-top: 4rem;
  padding: 2rem; }

@media only screen and (max-width: 800px) {
  .gallery-images {
    grid-template-columns: 1fr; } }

footer {
  position: relative;
  min-height: 9rem;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f4f4f4;
  text-align: center;
  background-color: #daa520;
  padding-bottom: 5rem; }
  footer p {
    margin-top: 1rem; }
  footer i {
    color: #f4f4f4;
    padding-bottom: 3rem; }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto; }
  footer .footer-content {
    height: 9vh;
    transform: translateY(-1rem);
    clip-path: polygon(100% 0%, 0% 0%, 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    background: #f4f7f6; }

@media only screen and (max-width: 800px) {
  .footer {
    padding: 0 1rem; }
    .footer p {
      font-size: 0.8;
      margin: 0.75rem; }
  ul {
    margin: 0 auto;
    width: 100%; } }

.showcase {
  min-height: 78vh;
  background: url("../dist/img/showcase.jpg") no-repeat center center/cover;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10rem;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f4f4f4; }
  .showcase h1 {
    font-size: 8.2rem;
    font-weight: 500;
    letter-spacing: 2px; }
  .showcase h2 {
    margin-top: -5rem;
    color: #daa520; }
  .showcase h3 {
    color: #f4f4f4;
    font-weight: 400;
    letter-spacing: 2px; }

@media only screen and (max-width: 800px) {
  .showcase {
    min-height: 100vh;
    width: 100%;
    border-radius: none; }
    .showcase h1 {
      font-size: 4.2rem;
      font-weight: 500;
      letter-spacing: 1px;
      display: inline-block; }
    .showcase h2 {
      margin-top: -1rem; }
    .showcase h3 {
      color: #f4f4f4;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.2rem; } }

.popup {
  display: none;
  position: fixed;
  top: 20vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  padding: 4rem;
  text-align: center;
  z-index: 999;
  background: url("../dist/img/Repeating-Chevrons.svg"); }
  .popup p {
    font-size: 1.2rem; }
  .popup span {
    font-weight: 600;
    color: #daa520; }
  .popup button {
    cursor: pointer;
    padding: 1rem;
    margin-top: 0.75rem;
    font-size: 1.5;
    font-weight: 600;
    background: #daa520;
    color: #f4f4f4;
    border: none;
    transition: 0.5s ease-in-out; }
  .popup button:hover {
    background: #333; }

@media only screen and (max-width: 800px) {
  .popup {
    top: 10%;
    width: 90vw;
    padding: 2rem; } }

.policy {
  min-height: 80vh;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 5rem; }
  .policy h2 {
    color: #333; }
  .policy p {
    padding-top: 1rem;
    font-weight: 400; }
  .policy ol {
    margin: 0 auto;
    font-size: 1.2rem;
    padding-left: 1rem; }
    .policy ol li {
      padding-bottom: 0.75rem; }

@media only screen and (max-width: 800px) {
  .policy {
    min-height: 80vh;
    width: 95%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth !important; }

html,
body {
  overflow: visible; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: #f4f7f6; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

img {
  width: 100%;
  height: auto; }

.body-container {
  width: 85%;
  margin: 0 auto; }

@media only screen and (max-width: 800px) {
  .body-container {
    width: 95%; } }

section {
  margin-bottom: 15%;
  border-radius: 5px; }

h2,
h3 {
  font-family: "Lora", serif;
  color: #333; }

h2 {
  font-size: 5rem;
  letter-spacing: 1px;
  padding: 1rem 0; }

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 2.7rem;
    letter-spacing: 1px;
    padding: 1rem 0; } }
