// Variables
$website-width: 1280px;
$main-color: #e7af2b;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #444;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
