.slideshow {
  z-index: 1;
  height: 60vh;
  overflow: hidden;
  box-shadow: 2px 2px 7px 2px #0000001f;
}

.slideshow-container {
  display: flex;
  background: white url("../dist/img/Repeating-Chevrons.svg");
  height: 100%;
  .slideshow-image {
    width: 50%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .slideshow-content {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      width: 70%;
      margin: 0 auto;
    }
  }
}

.slideshow-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  background: none;
  border: none;
  outline: none;
  color: $dark-color;
  cursor: pointer;
  transition: 2s ease-in-out;
}

.slideshow-button :hover {
  color: $main-color;
}

@media only screen and (max-width: 800px) {
  .slideshow {
    height: 120vh;
    margin-bottom: 35%;
  }

  .slideshow-container {
    display: flex;
    flex-direction: column;

    .slideshow-image {
      width: 100%;
      height: 100%;
    }

    .slideshow-content {
      width: 100%;
      padding: 3rem;
      p {
        width: 100%;
        margin: 1rem auto;
      }
    }
  }
  @media only screen and (max-height: 400px) {
    .slideshow-image {
      display: none;
    }
  }

  .slideshow-button {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    height: 3rem;
    width: 4rem;
  }
}

//Gallery images
.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10% 0;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5em;
  img {
    box-shadow: 3px 3px 10px 3px #0000003d;
    border-radius: 5px;
  }
  img:hover {
    transform: scaleY(1.001);
  }
}

.gallery-title {
  text-align: center;
  margin-top: 4rem;
  padding: 2rem;
}

@media only screen and (max-width: 800px) {
  .gallery-images {
    grid-template-columns: 1fr;
  }
}
