//navbar
.navbar {
  height: 18vh;
  width: 88%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.navbar img {
  height: auto;
  width: 8vw;
}

// Left navbar

.left-nav {
  position: fixed;
  top: 10%;
  bottom: 10%;
  width: 5%;
  height: 78vh;
  z-index: 99;
}

.left-nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  height: 7rem;
  width: 0.1rem;
  background: $dark-color;
  border-radius: 1px;
  box-shadow: inset 4px 4px 8px #d9d9d9, inset -4px -4px 8px #ffffff;
}

.icon {
  display: flex;
  color: #444;
  font-size: 1.4rem;
  justify-content: center;
  cursor: pointer;

  i {
    color: $dark-color;
    padding: 0.75rem 0;
  }

  i:hover {
    color: $main-color;
    transform: scale(1.1);
  }
}

// burger nav
.burger-nav-menu {
  height: 60vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 20;
  animation-name: fade-in;
  animation-duration: 4s;
  display: none;

  ul {
    font-size: 3rem;
    padding-top: 1.5rem;
  }

  li a {
    padding-top: 1.5rem;
    transition: 0.2s ease-in;
  }
  li a:hover {
    color: $main-color;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-tgl {
  cursor: pointer;
  position: fixed;
  z-index: 50;
  right: 6%;
  top: 5%;
  width: 80px;
  height: 80px;
  border: none;
  background: none;
  > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    background: $main-color;

    &:before,
    &:after {
      display: inline-block;
      position: absolute;
      content: "";
      height: 2px;
      border-radius: 1px;
      background: $main-color;
      transition: all 200ms;
    }
    &:before {
      top: -11px;
      left: 3px;
      width: 28px;
    }
    &:after {
      top: 11px;
      left: 6px;
      width: 22px;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover > span:after,
  &:hover > span:before {
    width: 34px;
    left: 0;
  }
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: url("../dist/img/navbar-background.jpg") no-repeat center
    center/cover;
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}

.menu.active {
  .nav:before {
    visibility: visible;
    clip-path: circle(100%);
  }

  .nav-tgl > span {
    height: 0;
    &:after,
    &:before {
      top: 0px;
      left: 0;
      width: 34px;
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
  }
}

@media only screen and (max-width: 800px) {
  .navbar img {
    width: 25vw;
  }
  .left-nav {
    display: none;
  }

  .burger-nav-menu {
    ul {
      font-size: 1.5rem;
      margin: 0 auto;
      text-align: center;
    }
  }

  .nav-tgl {
    top: 2%;
  }
}
